body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.cssBayan .accordion {
  cursor: pointer;
}
.cssBayan .accordion__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgb(215, 215, 215);
  color: blue;
}
.cssBayan .accordion__title .img_icon {
  display: none;
}
.cssBayan .accordion__title:hover {
  color: black;
}
.cssBayan .accordion__content {
  display: flex;
  justify-content: center;
}
.cssBayan .accordion__content .img_meme {
  width: 400px;
  margin: 20px;
  display: none;
}
.cssBayan .accordion:hover .img_meme {
  display: block;
}
.cssBayan .accordion:hover .img_icon {
  display: block;
}
.cssBayan .accordion:target__content {
  overflow: visible;
}

.cssBayan:hover .accordion__title {
  color: black;
}
.cssBayan:hover .accordion__title:active {
  color: blue;
}
.cssBayan:hover .accordion__title .img_icon {
  display: block;
}
.cssBayan:hover .accordion__title .img_icon:active {
  fill: blue;
}