body{
   font-family: Arial, Helvetica, sans-serif;
}

.container{
   max-width: 1280px;
   margin: 0 auto;
}

.accordion{

   &__title{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid black ;

      &:active{
         color: blue;
      }

   }

   &__content{
      display: flex;
      justify-content: center;

      .img_meme{
         width: 400px;
         margin: 20px;
         display: none;
      }
   }
}

.accordion:hover .img_meme{
   display: block;
}
